<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="smtpServer" value="pop.mail.ru" />
    <add key="smtpPort" value="995" />
    <add key="email" value="pavel_martin@mail.ru" />
    <add key="emailPassword" value="i93LYJAxwhxBFPTuERzM" />
    <add key="vpnServer" value="remote-shj.petrofac.com" />
    <add key="vpnPassword" value="Implementation_7777" />
    <add key="autoConnect" value="true" />

    <add key="amdarisPassword" value="Inherited140" />
    <add key="currentProjectPassword" value="" />
    <add key="listenDelay" value="3000" />
    <add key="RemoteDesktopPath" value="C:\\Users\\pavel.martiniuc\\AppData\\Local\\Apps\\Remote Desktop\\msrdcw.exe" />
    
  </appSettings>
</configuration>